

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	min-width: 100%;
	overflow-y: hidden;
	background: linear-gradient(180deg, #0C0C0C 0%, #202020 100%);
	color: #fff;
}