.main::-webkit-scrollbar {
	display: none;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

.cards_wrapper::-webkit-scrollbar {
	width: 0 !important;
}

.cards_wrapper {
	display: flex;
	overflow-x: auto;
	width: 100%;
	padding: 0 35rem;
}


