.card {
	margin: 2rem 1vw;
	width: 100%;
	
}


.card section {
	background-attachment: fixed;
	background-position: top;
	height: 60vh;
	width: 18vw;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.projects_wrapper{
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 100vh;
	min-width: 100%;
	background: linear-gradient(180deg, #0C0C0C 0%, #202020 100%);


}

.project_container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.project_name{
	text-transform: uppercase;
	padding-bottom: 1rem;
	font-size: .8rem;
	color: #fff;
}

.bg_kaspian {
	background-size: cover;
	background-image: url("https://res.cloudinary.com/dvbfjvpo9/image/upload/v1683731259/portfolio/Slide_okf11u.png");
}

.bg_breathein {
	background-size: cover;
	background-image: url("/public/gas planet.png");
}
.bg_o3de {
	background-size: cover;
	background-image: url("https://res.cloudinary.com/dvbfjvpo9/image/upload/v1683731507/portfolio/Screenshot_2023-05-10_at_17.11.27_a5fast.png");
}

.bg_volvo{
	background-image: url("/public/volvo.png");
	background-size: cover;
}

.bg_wackychaty {
	background-image: url("https://res.cloudinary.com/dvbfjvpo9/image/upload/v1683731454/portfolio/Chaty-wacky_qdhtv6.png");
	background-size: cover;
}
.bg_spacedesign {
	background-image: url("https://res.cloudinary.com/dvbfjvpo9/image/upload/v1683731715/portfolio/landing-page_fyoy9w.png");
	background-size: cover;
}
