.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	
}

.cards_wrapper {
	display: flex;
	overflow-x: auto;
	width: 100%;
	padding-left: 35vw;
	padding-right: 10vw;
	
}
